<div class="container content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 news-list">
            <ul>
                <% page.posts.each(function(post, i){ %>
                    <li>
                        <a href="<%- url_for(post.path) %>" class="a-title"><%= post.title %></a>
                        <p class="span-title">作者：master  / 发表时间：<time datetime="<%- date(post.date)%>"><%- date(post.date)%></time></p>
                        <div><%- excerpt(post, 300) %></div>
                    </li>
                <%})%>
            </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="container">
                <nav aria-label="Page navigation" style="text-align: center">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>